<!DOCTYPE html>
<html lang="en">
    <head>
        <title>work on your listening skills man</title>
        <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
        <link href="/styles/user.css" rel="stylesheet"> 
    </head>
    <body>
        <header>
            <h5>{{username}}'s Dank Dashboard</h5>
            <button class="logout-button">LOGOUT</button>
        </header>
        <main>
            <h2>Welcome back {{username}}</h2>
            <p>STUFF</p>
            <p>STUFF</p>
            <p>STUFF</p>
            <p>STUFF</p>
            <p>STUFF</p>
        </main>
    </body>
</html>